* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  display: flex;
  gap: 25px;
}

nav ul a {
  color: #737373;
  font-size: 18px;
  font-weight: 300;
}

.menu {
  width: 30px;
  display: none;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__text h1 {
  font-size: 50px;
  font-weight: 900;
  width: 630px;
  margin-bottom: 58px;
}
.iteam {
  width: 344px;
  height: 414px;
  border-radius: 9px;
  box-shadow: 2px 0px 4px 2px pink;
  margin: auto;
}
.main_h2 {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  font-size: 50px;
}
.box {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.iteam h2 {
  padding: 22px 22px 0 22px;
  font-size: 36px;

}
.iteam p {
  width: 289px;
  color: #767676;
  padding: 20px;
  font-size: 14px;
}

.header__text button {
  color: white;
  width: 179px;
  height: 53px;
  border-radius: 7px;
  font-size: 20px;
  background: linear-gradient(95.2deg, #b90160 2.23%, #2e3192 99.51%);
  border: none;
}
@media (max-width: 610px) {
  nav ul {
    display: none;
  }

  .menu {
    display: flex;
  }
  .header__content {
    flex-direction: column-reverse;
  }
  .header__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__text h1 {
    font-size: 25px;
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
  }
  .header__content img {
    width: 300px;
  }

  .box {
    flex-direction: column;
  }
  .main_h2 {
    width: 450px;
    padding: 50px 0;
    font-size: 35px;
  }
}
